.skip a {
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus {
  top: 10px;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
}
header p {
  font-family: Arial;
  font-size: 1em;
  text-align: center;
  padding-bottom: 2%;
}

nav a {
  text-decoration: none;
  color: gray;
}

nav {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1em;
  padding: 0;
  text-align: center;
  margin: auto;
  width: 100%;
}
.fixed-nav nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

nav li {
  display: inline-block;
  padding: 2%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.index-container {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 2em;
}

h2 {
  grid-column: 2/4;
  grid-row: 1;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.5em;
}
p {
  margin: 0 0 10px;
}

.is-active a {
  color: black;
}
.index-container img {
  grid-column: 2/4;
  grid-row: 2;
}

.about-text {
  grid-column: 2/4;
  grid-row: 3;
}

footer img {
  max-width: 300px;
}
footer li {
  display: inline-block;
  padding: 2%;
  font-family: Helvetica;
  font-style: normal;
  font-size: 1em;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer ul {
  margin: auto;
  text-align: center;
}

/* CV styling starts here */

.cvcontainer {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-row-gap: 2em;
}
.cvcontainer h2 {
  grid-column: 2/4;
  grid-row: 1;
}

.cv-edu {
  grid-column: 2/4;
  grid-row: 2;
}

.cv-teach {
  grid-column: 2/4;
  grid-row: 3;
}

.cv-research-grants {
  grid-column: 2/4;
  grid-row: 4;
}

.cv-publications {
  grid-column: 2/4;
  grid-row: 5;
}

.cv-conference {
  grid-column: 2/4;
  grid-row: 6;
}
.cv-othermedia {
  grid-column: 2/4;
  grid-row: 7;
}

/* links styling starts here */
.links-container {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 2em;
}

.links-container h3 {
  grid-column: 2/4;
  grid-row: 1;
}
.links-container ul {
  list-style-type: none;
}

.links-one-head {
  grid-column: 2/4;
  grid-row: 2;
}

.links-one {
  grid-column: 2/4;
  grid-row: 3;
}
.links-two-head {
  grid-column: 2/4;
  grid-row: 4;
}

.links-two {
  grid-column: 2/4;
  grid-row: 5;
  padding-bottom: 2%;
}

/* research styling starts here */

.research-container {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 2em;
}
.research-container h2 {
  grid-column: 2/4;
  grid-row: 1;
}
.openings {
  grid-column: 2/4;
  grid-row: 2;
}

.philosophy-research {
  grid-column: 2/4;
  grid-row: 3;
}

.active-research {
  grid-column: 2/4;
  grid-row: 4;
}

.past-active {
  grid-column: 2/4;
  grid-row: 5;
}

/* tandem styling starts here */

.tandem-container {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 2em;
}
.tandem-container h2 {
  grid-column: 2/4;
  grid-row: 1;
}

.tandem-container img {
  grid-column: 2/4;
  grid-row: 2;
}
.tandem-text {
  grid-column: 2/4;
  grid-row: 3;
}
.tandem-text {
  grid-column: 2/4;
  grid-row: 3;
}
.tandem-list {
  grid-column: 2/4;
  grid-row: 4;
}
.youtube-vid {
  grid-column: 2/4;
  grid-row: 5;
}
.tandem-more {
  grid-column: 2/4;
  grid-row: 6;
}

/* teaching style starts here */

.teaching-container {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 2em;
}

.teaching-container h2 {
  grid-column: 2/4;
  grid-row: 1;
}

.agent-carter-image {
  grid-column: 2/4;
  grid-row: 2;
}

.philosophy {
  grid-column: 2/4;
  grid-row: 3;
}
.current-courses {
  grid-column: 2/4;
  grid-row: 4;
}
.engr-100 {
  grid-column: 2/4;
  grid-row: 5;
}
.engr-100-image {
  grid-column: 2/4;
  grid-row: 6;
}
.engr-101 {
  grid-column: 2/4;
  grid-row: 7;
}

.engr-101-image {
  grid-column: 2/4;
  grid-row: 8;
}
.past-courses {
  grid-column: 2/4;
  grid-row: 9;
}
.hydro-statics {
  grid-column: 2/4;
  grid-row: 10;
}

/* engr 100 course description style starts here */
.overview {
  grid-column: 2/4;
  grid-row: 2;
}
.project {
  grid-column: 2/4;
  grid-row: 3;
}
.project-image {
  grid-column: 2/4;
  grid-row: 4;
}
.lecture {
  grid-column: 2/4;
  grid-row: 5;
}
.course-content {
  grid-column: 2/4;
  grid-row: 6;
}
.question {
  grid-column: 2/4;
  grid-row: 7;
}
